body
  background: #fafafa
  color: #333

  font-family: sans-serif

.hero-unit
  width: 300px
  line-height: 30px

  margin: 50px auto 0 auto
  padding: 60px

  background-color: #eee

  border-radius: 6px

  font-size: 18px
  font-weight: 200

  h1
    line-height: 1

    font-size: 60px

    letter-spacing: -1px
